body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #121212;
    background-image: url(https://wallpaperaccess.com/full/214933.jpg);
    background-size: cover;
    background-position: 0%;
}

.header {
    background-size: cover;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container h1 {
    font-size: 28px;
    margin-right: 10px;
    color: #ffffff;
}

.logo-container img {
    width: 28px;
    height: auto;
    margin-right: 10px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header-link {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.header-link.active {
    background-color: #555;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.search-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
}

.search-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Displaying four movies in a row */
    gap: 20px;
    padding: 20px;
}

.movie {
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.movie img {
    width: 100%;
    height: auto;
}

.movie h3 {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

.modal h2 {
    margin-top: 0;
}

.movie-details {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    max-width: 150px;
    display: none;
    text-align: center;
}

.movie:hover .movie-details {
    display: block;
}

#movieDetailsModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#movieDetailsModal .modal-content {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

#movieDetailsModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

#movieDetailsModal h2 {
    margin-top: 0;
}

#movieDetailsModal img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

#movieDetailsModal p {
    margin: 10px 0;
}
